.dotted{
    width:48%;
    background-color: mediumpurple;
    border-style: dotted;
    border-width: 5px;
    border-color: blue;
    float: left;
    height: 650px;
}
.dotted1{
    width:48%;
    background-color: green;
    border-style: dotted;
    border-width: 5px;
    border-color: blue;
    float: right;
    height: 650px;
}
